<!DOCTYPE html>
<html
        xmlns:th="http://www.thymleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruitkha - About</title>
</head>
<body>
<div layout:fragment="content">


    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <h1 class="about_taital">About Our cycle Store</h1>
            <p class="about_text">Welcome to OOycle, your one-stop destination for all things cycling! Whether
                you're a seasoned cyclist or just starting your journey, we are here to provide you with top-quality
                bikes, accessories, and expert advice. Our passion for cycling drives us to offer products from the most
                trusted brands, ensuring you have a smooth and enjoyable ride. At OOycle, customer satisfaction is
                our top priority, and we strive to create a welcoming atmosphere for all cycling enthusiasts. Explore
                our extensive range and let us help you find the perfect gear for your next adventure
            </p>
            <div class="about_main">
                <img src="/assets/images/img-5.png" class="image_5">
            </div>
            <div class="read_bt_1"><a href="#">Read More</a></div>
        </div>
    </div>
    <!-- about section end -->


</div>
</body>
</html>